*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItems{
    background-color: antiquewhite;
    height: 380px;
    width: 250px;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

/* Imagen */
.cardItems .cardImg{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    height: 50%;
}

/* .cardItems .cardImg img{

} */

/* Descripción */
.cardDescription{
    display: flex;
    flex-direction: column;
    height: 35%;
}

.cardDescription .title{
    font-size: 28px;
    margin: 6px 0;
}

.cardDescription .description{
    display: none;
}

.cardDescription .cant{
    color: black;
    font-size: 20px;
    margin: 6px 0;
}

.cardDescription .precio{
    color: rgb(53, 53, 53);
    font-size: 30px;
    font-weight: bold;
    margin: 6px 0;
}

/* contenedor de botones */

.buttons{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons #detalles{
    height: 35px;
    width: 75%;
    background-color: rgb(38, 161, 38);
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 18px;
}

.buttons #detalles:hover{
    background-color: green;
}

.buttons #AddCart{
    background-color: rgb(38, 161, 38);
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons #AddCart:hover{
    background-color: green;
}